@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

/**
    Define the fonts used in the application.
*/
@theme fonts {
    --font-noto-sans: "Noto Sans", sans-serif;
}

/**
    This root layer is written of that way to be changing the colors
    in the themes via javascript.
*/
@layer colors_root {
    :root {
        --color-neutral-aurora: #fffaf3;
        --color-neutral-sandstone: #e6ded1;
        --color-neutral-honeycream: #ffe8bf;

        --color-red-crimson: #ed3237;

        --color-orange-sunset: #ffa919;
        --color-orange-amber: #f69700;
        --color-orange-copper: #cc6633;

        --color-blue-midnight: #00061a;
        --color-blue-ocean: #002080;
        --color-blue-indigo: #000036;
        --color-blue-skywave: #0091ff;

        --color-purple-mystic: #b82bff;
        --color-green-forest: #00a859;
    }
}

/**
    This is a configuration from Quill JS
*/
@layer quill {
    .ql-editor {
        font-family: var(--font-noto-sans);
    }
}


/**
    This is a configuration from container site
*/
@layer components {
    .container {
        @apply w-7xl px-10 mx-auto sm:max-w-7xl lg:px-0;
    }
}

/**
    This is a configuration from scroll x carrousels
*/
@layer scroll {
    .scroll-x {
        -ms-overflow-style: none;
        /* IE e Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scroll-x::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari e Opera */
    }
}

/**
    This is a configuration from title layout

*/
@layer titles_layout {
    .title-layout {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    .title-layout h1 {
        color: var(--color-orange-amber);
        text-transform: uppercase;
        font-family: "Noto Sans", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 1.3rem;
        margin: 0;
        white-space: nowrap;
    }

    .title-layout::after {
        content: "";
        flex: 1;
        height: 0.1rem;
        background-color: var(--color-orange-amber);
    }
}


/**
    This is a configuration from filers from svgs
*/
@layer color_filter {
    .color-filter-aurora {
        filter: invert(100%) sepia(75%) saturate(292%) hue-rotate(322deg) brightness(106%) contrast(102%);
    }

    .color-filter-blue-skywave {
        filter: invert(53%) sepia(84%) saturate(4530%) hue-rotate(185deg) brightness(99%) contrast(112%);
    }
}