@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    --color-neutral-aurora: #fffaf3;
    --color-neutral-opacity: #fffaf31f;
    --color-neutral-sandstone: #e6ded1;
    --color-neutral-honeycream: #ffe8bf;

    --color-red-crimson: #ed3237;

    --color-orange-sunset: #ffa919;
    --color-orange-amber: #f69700;
    --color-orange-copper: #cc6633;

    --color-blue-midnight: #00061a;
    --color-blue-ocean: #002080;
    --color-blue-indigo: #000036;
    --color-blue-skywave: #0091ff;
    --color-blue-cerulean: #060652;

    --color-purple-mystic: #b82bff;
    --color-green-forest: #00a859;
}

@theme theme {
    /* Neutral */
    --color-neutral-aurora: var(--color-neutral-aurora);
    --color-neutral-opacity: var(--color-neutral-opacity);
    --color-neutral-sandstone: var(--color-neutral-sandstone);
    --color-neutral-honeycream: var(--color-neutral-honeycream);

    /* Red */
    --color-red-crimson: var(--color-red-crimson);

    /* Orange */
    --color-orange-sunset: var(--color-orange-sunset);
    --color-orange-amber: var(--color-orange-amber);
    --color-orange-copper: var(--color-orange-copper);

    /* Blue */
    --color-blue-midnight: var(--color-blue-midnight);
    --color-blue-ocean: var(--color-blue-ocean);
    --color-blue-indigo: var(--color-blue-indigo);
    --color-blue-skywave: var(--color-blue-skywave);
    --color-blue-cerulean: var(--color-blue-cerulean);

    /* Purple */
    --color-purple-mystic: var(--color-purple-mystic);

    /* Green */
    --color-green-forest: var(--color-green-forest);
}

@theme fonts {
    --font-noto-sans: "Noto Sans", sans-serif;
}

@theme animations {
    --animate-fadeIn: fadeIn 0.5s linear forwards;
    --animate-fadeOut: fadeOut 0.5s linear forwards;

    @keyframes fadeIn {
        0% {
            opacity: 0;
        }
        100% {
            opacity: 1;
        }
    }

    @keyframes fadeOut {
        0% {
            opacity: 1;
        }
        100% {
            opacity: 0;
        }
    }
}

@layer components {
    /* Container from the aplication */
    .container {
        @apply w-7xl px-10 mx-auto sm:max-w-7xl lg:px-0;
    }

    /* Quill editor */
    .ql-editor {
        font-family: var(--font-noto-sans);
    }

    /* Scroll X */
    .scroll-x {
        -ms-overflow-style: none;
        /* IE e Edge */
        scrollbar-width: none;
        /* Firefox */
    }

    .scroll-x::-webkit-scrollbar {
        -webkit-appearance: none;
        display: none;
        /* Chrome, Safari e Opera */
    }

    /* Sections Title */
    .title-layout {
        display: flex;
        align-items: center;
        gap: 1rem;
        margin-bottom: 0.5rem;
    }

    .title-layout h1 {
        color: var(--color-orange-amber);
        text-transform: uppercase;
        font-family: "Noto Sans", sans-serif;
        font-weight: 900;
        font-style: italic;
        font-size: 1.3rem;
        margin: 0;
        white-space: nowrap;
    }

    .title-layout::after {
        content: "";
        flex: 1;
        height: 0.1rem;
        background-color: var(--color-orange-amber);
    }

    /* Select Input*/
    select {
        appearance: none;
        /* Remove a seta nativa */
        -webkit-appearance: none;
        -moz-appearance: none;

        background-color: white;
        border: 1px solid #ccc;
        padding: 0.5rem 2rem 0.5rem 1rem;
        /* Espaço para a seta */
        border-radius: 0.5rem;
        font-size: 1rem;
        color: #000;

        background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="16" viewBox="0 0 24 24" width="16" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
        background-repeat: no-repeat;
        background-position: right 0.5rem center;
        background-size: 1rem 1rem;
    }

    select:focus {
        outline: none;
    }

    /*Color Filters*/
    .filter-neutral-aurora {
        filter: invert(100%) sepia(75%) saturate(292%) hue-rotate(322deg) brightness(106%) contrast(102%);
    }

    .filter-blue-skywave {
        filter: invert(53%) sepia(84%) saturate(4530%) hue-rotate(185deg) brightness(99%) contrast(112%);
    }
}