@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";

:root {
    /* Neutral */
    --color-neutral-aurora: #fffaf3;
    --color-neutral-sandstone: #e6ded1;
    --color-neutral-honeycream: #ffe8bf;
    --color-neutral-gray: #808080;

    /* Reds */
    --color-red-crimson: #ed3237;

    /* Oranges */
    --color-orange-sunset: #ffa919;
    --color-orange-amber: #f69700;
    --color-orange-copper: #cc6633;

    /* Blues */
    --color-blue-midnight: #00061a;
    --color-blue-ocean: #002080;
    --color-blue-indigo: #000036;
    --color-blue-skywave: #0091ff;
    --color-blue-cerulean: #060652;

    /* Purples */
    --color-purple-mystic: #b82bff;

    /* Greens */
    --color-green-forest: #00a859;
}

@theme theme {
    --color-neutral-aurora: var(--color-neutral-aurora);
    --color-neutral-sandstone: var(--color-neutral-sandstone);
    --color-neutral-honeycream: var(--color-neutral-honeycream);
    --color-neutral-gray: var(--color-neutral-gray);

    --color-red-crimson: var(--color-red-crimson);

    --color-orange-sunset: var(--color-orange-sunset);
    --color-orange-amber: var(--color-orange-amber);
    --color-orange-copper: var(--color-orange-copper);

    --color-blue-midnight: var(--color-blue-midnight);
    --color-blue-ocean: var(--color-blue-ocean);
    --color-blue-indigo: var(--color-blue-indigo);
    --color-blue-skywave: var(--color-blue-skywave);
    --color-blue-cerulean: var(--color-blue-cerulean);

    --color-purple-mystic: var(--color-purple-mystic);
    --color-green-forest: var(--color-green-forest);
}

@theme fonts {
    --font-noto-sans: "Noto Sans", sans-serif;
}

@keyframes marquee {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(-100%);
    }
}

@layer base {
    * {
        transition: 0.3s ease-in-out;
    }

    .ql-editor {
        font-family: var(--font-noto-sans);
    }
}

@layer components {
    .container {
        @apply w-full px-10 mx-auto sm:max-w-7xl lg:px-0;
    }

    .container-player {
        @apply w-full px-10 mx-auto sm:max-w-6xl xl:px-0;
    }
}

@layer utilities {
    .scroll-x {
        -ms-overflow-style: none;
        scrollbar-width: none;
    }

    .scroll-x::-webkit-scrollbar {
        display: none;
    }

    .marquee-container {
        z-index: 0;
    }

    .marquee-container::before,
    .marquee-container::after {
        content: "";
        position: absolute;
        inset: 0 auto 0 auto;
        width: 5rem;
        z-index: 2;
    }

    .marquee-container::before {
        left: 0;
        background: linear-gradient(
            to right,
            var(--color-blue-ocean),
            transparent
        );
    }

    .marquee-container::after {
        right: 0;
        background: linear-gradient(
            to left,
            var(--color-blue-ocean),
            transparent
        );
    }

    .filter-neutral-aurora {
        filter: invert(100%) sepia(75%) saturate(292%) hue-rotate(322deg)
            brightness(106%) contrast(102%);
    }

    .filter-neutral-gray {
        filter: invert(54%) sepia(12%) saturate(23%) hue-rotate(46deg)
            brightness(92%) contrast(88%);
    }

    .filter-neutral-honeycream {
        filter: invert(92%) sepia(5%) saturate(2300%) hue-rotate(327deg)
            brightness(104%) contrast(101%);
    }

    .filter-blue-skywave {
        filter: invert(53%) sepia(84%) saturate(4530%) hue-rotate(185deg)
            brightness(99%) contrast(112%);
    }

    .filter-blue-ocean {
        filter: invert(10%) sepia(55%) saturate(5448%) hue-rotate(224deg)
            brightness(90%) contrast(109%);
    }

    .filter-blue-indigo {
        filter: invert(8%) sepia(27%) saturate(5191%) hue-rotate(227deg)
            brightness(96%) contrast(124%);
    }

    .filter-blue-midnight {
        filter: invert(5%) sepia(9%) saturate(7430%) hue-rotate(191deg)
            brightness(102%) contrast(108%);
    }

    .filter-red-crimson {
        filter: invert(44%) sepia(59%) saturate(4904%) hue-rotate(335deg)
            brightness(88%) contrast(113%);
    }
}
